.header-rigth-column-style {
  padding-left: 0px;
}
.header-text-style {
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
}
.margin-3 {
  margin: 3px;
}
.margin-0 {
  margin: 0;
}
.max-width {
  max-width: 1010px;
}
.container-fluid-styling {
  alignment: center;
  padding: 0px;
}
.element-width {
  width: 244px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-right-3 {
  padding-right: 3px;
}
.padding-right-0 {
  padding-right: 0;
}
.padding-0 {
  padding: 0px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-12 {
  padding-top: 12px;
}
.padding-top-bottom-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
padding-6 {
  padding: 6px;
}
.btn-transparent {
  background-color: transparent;
}
.text-disabled {
  color: #adb5bd;
}
.text-enabled {
  color: black;
}
.btn-exercise-operate {
  @extend .element-width;
  border-radius: 0.8em;
  border-color: dimgray;
}
.max-width-600 {
  max-width: 600px;
}
.text-align-center {
  alignment: center;
  text-align: center;
}
.exercise-body {
  @extend .text-align-center;
  @extend .padding-0;
}
.dropdown-exercise-operate {
  @extend .element-width;
  border-color: lightgrey;
}
.sticky-bottom {
  position: absolute;
  bottom: 15px;
  max-width: inherit;
  @extend .padding-0;
}
.max-height {
  height: 100vh;
}
.container-image {
  // background-image: url(assets/main-32148-660x413.jpg);
  background-color: rgba(20,11,9,0.92);
}
.login-style {
  @extend .text-align-center;
  margin-top: 6px;
  height: 35px;
  max-width: 250px;
  border-width: 1px;
  border-radius: 0.8em;
  border-color: dimgray;
  opacity: 0.8;
  outline-color: dodgerblue;
  color: black;
  @extend .element-width;
}
.reps-first-column {
  padding-left: 10px;
  padding-right: 0px;
}
.reps-last-column {
  padding-right: 2px;
  padding-left: 7px;
}
.reps-table-row {
  height: 45px;
}
.reps-table-first-column {
  padding-left: 10px;
  padding-right: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.open-exercise-button {
  min-width: 40px;
  padding-left: 0;
  padding-right: 4px;
}
.progress-bar-custom {
  height: 1.5rem;
  padding-top: 1px;
}
.color-black {
  color:black;
}
.exercise-input {
  text-align: center;
  margin-top: 6px;
  height: 35px;
  max-width: 100px;
  border-radius: 0.3em;
  border-width: 1px;
  outline-color: dodgerblue;
}
.exercise-input-disabled {
  border-color: #adb5bd;
}
.exercise-input-enabled {
  border-color: dimgray;
}
.btn-delete-reps {
  background-color: transparent;
  margin-top: 4px;
  outline-color: dodgerblue;
}
.col-delete-reps {
  padding-right: 10px;
  padding-left: 0px;
}
.red-trash-bin {
  color: darkred;
}
