.header-rigth-column-style {
  padding-left: 0px;
}
.header-text-style {
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
}
.margin-3px {
  margin: 3px;
}
.max-width {
  max-width: 1010px;
}
.container-fluid-styling {
  alignment: center;
  padding: 0px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-right-3 {
  padding-right: 3px;
}
.padding-0 {
  padding: 0px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-bottom-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.btn-transparent {
  background-color: transparent;
}
.text-disabled {
  color: #adb5bd;
}
.text-enabled {
  color: black;
}
.btn-exercise-operate {
  @extend .exercise-container-width;
  border-radius: 0.8em;
  border-color: dimgray;
}
.max-width-600 {
  max-width: 600px;
}
.exercise-body {
  alignment: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}
.exercise-container-width {
  width: 244px;
}
.dropdown-exercise-operate {
  @extend .exercise-container-width;
  border-color: lightgrey;
}
.sticky-bottom {
  position: absolute;
  bottom: 15px;
}

.max-height {
  height: 100vh;
}

.container-image {
  // background-image: url(assets/main-32148-660x413.jpg);
  background-color: rgba(20,11,9,0.92);
}

