<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="modal fade padding-right-3" id="modalDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>{{modalText}}</p>
          <div class="row">
            <div class="col-12 text-center">
              <button type="button" class="btn btn-info margin-3" data-dismiss="modal" (click)="onModalClose()">{{modalCancelButton}}</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onModalAccept()">{{modalAcceptButton}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
