.header-rigth-column-style {
  padding-left: 0px;
}
.header-text-style {
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
}
.margin-3px {
  margin: 3px;
}
.max-width {
  max-width: 1010px;
}
.container-fluid-styling {
  alignment: center;
  padding: 0px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-0 {
  padding: 0px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-bottom-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.btn-transparent {
  background-color: transparent;
}
.text-disabled {
  color: #adb5bd;
}
.text-enabled {
  color: black;
}

.modal-window {
  /* modals are hidden by default */
  /* display: none; */
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .jw-modal-background */
  z-index: 2000;
  /* enables scrolling for tall modals */
  overflow: auto;
  padding: 20px;
  background: #adb5bd;
  /* margin exposes part of the modal background */
  margin: 40px;
  max-width: 1010px;
  max-height: 150px;
}
