<div class="container-fluid container-fluid-styling">
  <!-- header -->
  <div class="container sticky-top max-width bgc-darkgrey-text-white">
    <div class="row">
      <div class="col-2 text-start padding-left-0">

      </div>
      <div class="col-8 text-align-center">
        <span class="text-white header-text-style">{{month}}</span>
      </div>
      <div class="col-2 text-end header-rigth-column-style">
        <div class="dropdown">
          <a class="btn btn-secondary bgc-darkgrey-text-white" href="#" role="button" id="dropdownMenuLink"
             data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
            <fa-icon [icon]="faPlus"></fa-icon>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button class="dropdown-item" type="button" (click)="addExercise()">exercise</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" (click)="addDayOff()">day off</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-spinner [loading]="loading"></app-spinner>

  <div class="container max-width text-align-center-padding-0">
    <!-- body -->
    <div class="container text-align-center-padding-0 max-width" style="min-height:{{getBodyMinHeight()}}px;">
      <table class="table table-sm table-borderless" *ngIf="!loading">
      <tbody>
      <tr *ngFor="let sprintExercise of sprintExercises">
        <td style="padding-top: 2px; padding-bottom: 0px;">
          <!-- Day -->
          <div class="container sprint-day" [ngClass]="calcDayColor(sprintExercise.getSprintDay().getIsDayOff())">
            <div class="row">
              <div class="col-8 text-start">
                {{sprintExercise.getSprintDay().getSDate() | date}}
              </div>
              <div class="col-4 text-end" *ngIf="!sprintExercise.getSprintDay().getIsDayOff()">
                {{sprintExercise.getSprintDay().getTotal()}}
              </div>
            </div>
          </div>
          <!-- Exercises -->
          <table class="table table-sm margin-0">
            <tbody>
            <tr *ngFor="let exercise of sprintExercise.getExercises()">
              <td style="padding-top:12px; padding-bottom: 0px; margin: 0">
                <div class="row">
                  <div class="col-4 text-start padding-right-0">
                    {{getExName(exercise.getSid())}}
                  </div>
                  <div class="col-4 text-start max-width-100 padding-right-0">
                    {{exercise.getRawPoints()}} {{getExItem(exercise.getSid())}}
                  </div>
                  <div class="col-4 text-start padding-right-0">
                    {{exercise.getTotalPoints()}}
                  </div>
                </div>
              </td>
              <td class="text-end">
                <button class="btn btn-link btn-open-exercise text-end open-exercise-button" (click)="openExercise(exercise)">
                  <fa-icon [icon]="faChevronRight"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
      </table>
      <!-- dummy div -->
      <div class="max-width" style="height: 35px"></div>
    </div>
    <!-- footer -->
    <div class="container max-width sticky-bottom bgc-darkgrey-text-white">
      <div class="row">
        <div class="col-4">
          <button class="btn margin-3 bgc-darkgrey-text-white">goal</button>
        </div>
        <div class="col-4">
          <button class="btn margin-3 bgc-darkgrey-text-white">me</button>
        </div>
        <div class="col-4">
          <button class="btn margin-3 bgc-darkgrey-text-white">team</button>
        </div>
      </div>
    </div>
  </div>
</div>
