<div class="container-fluid container-fluid-styling">
  <!-- header -->
  <div class="badge-dark container sticky-top max-width">
    <div class="row">
      <div class="col-2 text-left padding-left-0">
        <button class="btn btn-dark margin-3px" (click)="goBack()">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
      </div>
      <div class="col-8 text-center">
        <span class="text-white header-text-style">{{month}}</span>
      </div>
      <div class="col-2 text-right header-rigth-column-style">
        <button class="btn btn-dark margin-3px" (click)="addExercise()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <app-alert [error]="error"></app-alert>

  <!-- body -->
  <app-spinner [loading]="loading"></app-spinner>
  <table class="table table-sm" style="max-width: 1000px;" align="center" *ngIf="!loading">
    <tbody>
    <tr *ngFor="let sprintExercise of sprintExercises">
      <td class="text-center padding-0">
        <!-- Day -->
        <div class="container sprint-day" [ngClass]="calcDayColor(sprintExercise.getSprintDay().getIsWeekend())">
          <div class="row">
            <div class="col-8 text-left">
              {{sprintExercise.getSprintDay().getSprintDate() | date}}
            </div>
            <div class="col-4 text-right" *ngIf="!sprintExercise.getSprintDay().getIsWeekend()">
              {{sprintExercise.getSprintDay().getTotal()}}
            </div>
          </div>
        </div>
        <!-- Exercises -->
        <table class="table table-sm" style="margin: 0px;">
          <tr *ngFor="let exercise of sprintExercise.getExercises()">
            <td>
              <div class="row" style="padding: 6px;">
                <div class="col-2 text-left max-width-100 min-width-100">
                  {{getExName(exercise.getSid())}}
                </div>
                <div class="col-4 text-left max-width-100">
                  {{exercise.getRawPoints()}} {{getExItem(exercise.getSid())}}
                </div>
                <div class="col-2 text-left">
                  {{exercise.getTotalPoints()}}
                </div>
                <div class="col-4">
                </div>
              </div>
            </td>
            <td style="text-align: right;">
              <button class="btn btn-link btn-open-exercise" (click)="openExercise(exercise)">
                <fa-icon [icon]="faChevronRight"></fa-icon>
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>

</div>
