.day-off-class {
  background: red;
  border-radius: 100%;
}
.grey-day-class {
  background: lightgrey;
  border-radius: 100%;
}
.days-with-exercises-class {
  background: lightgreen;
  border-radius: 100%;
}
