<mat-form-field appearance="fill" class="width-300 height-70">
  <mat-label>chose a day</mat-label>
  <input matInput [matDatepicker]="picker" [value]="chosenDate" [matDatepickerFilter]="weekendFilter"
         (dateChange)="dateChanged($event)" [disabled]="disabled">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker [calendarHeaderComponent]="header" [dateClass]="dateClass" (opened)="open(true)" (closed)="open(false)"></mat-datepicker>
</mat-form-field>
