<div class="container-fluid container-fluid-styling">
  <!-- header -->
  <div class="badge-dark container sticky-top max-width">
    <div class="row">
      <div class="col-2 text-left padding-left-0">
        <button class="btn btn-dark margin-3" (click)="back()" [disabled]="conditions.loading">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
      </div>
      <div class="col-8 text-center">
        <span class="text-white header-text-style">days off</span>
      </div>
      <div class="col-2 text-right header-rigth-column-style">
      </div>
    </div>
  </div>

  <app-spinner [loading]="conditions.loading"></app-spinner>

  <div class="container element-width text-align-center-padding-0">
    <!-- body -->
    <div class="container element-width text-align-center-padding-0"
         *ngIf="conditions.initialized" style="min-height:{{getBodyMinHeight()}}px; padding-top: 15px">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <td><a class="grey-boring-text">Mo</a></td>
            <td><a class="grey-boring-text">Tu</a></td>
            <td><a class="grey-boring-text">We</a></td>
            <td><a class="grey-boring-text">Th</a></td>
            <td><a class="grey-boring-text">Fr</a></td>
            <td><a class="grey-boring-text">Sa</a></td>
            <td><a class="grey-boring-text">Su</a></td>
          </tr>
          <tr *ngFor="let week of sprint; let j = index">
            <td *ngFor="let day of week; let i = index" style="padding: 2px">
              <button class="btn btn-day-circle text-align-center-padding-0"
                  [ngStyle]="{'background-color': day[1]===1 ? 'lightgreen': day[1]===0 ? 'red': day[0]>24 ? 'gainsboro': 'white', 'border-color': day[0] === today ? 'blue': 'transparent'}"
                  (click)="onClick(j, i, $event)"
                  [disabled]="conditions.loading">
                <a class="black-font-08">{{day[0] > 0 ? day[0]: ''}}</a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- footer -->
    <div class="container element-width text-align-center-padding-0">
      <button class="btn btn-success btn-exercise-operate" *ngIf="conditions.canSave" (click)="save()"
              [disabled]="conditions.loading">save
      </button>
    </div>
  </div>
</div>
