.login-style {
  text-align: center;
  margin-top: 6px;
  height: 35px;
  max-width: 250px;
  border-width: 1px;
  border-radius: 0.8em;
  border-color: dimgray;
  opacity: 0.8;
  outline-color: dodgerblue;
  color: black;
}
