<div class="container-fluid container-fluid-styling max-width max-height container-image" align="center">
  <br>
  <div class="container" align="center">
    <div style="background-image: url(assets/multi-text-logo.png);width: 286px;height:81px;position: center" align="center">
    </div>
  </div>
  <br>
  <br>
  <input type="text"
         class="login-style"
         value="{{username}}"
         placeholder="username">
  <br>
  <input type="text"
         class="login-style"
         value="{{password}}"
         placeholder="password">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button class="btn btn-light login-style"
          (click)="login()">login
  </button>
</div>
