<div class="container-fluid container-fluid-styling">
  <!-- header -->
  <div class="badge-dark container sticky-top max-width">
    <div class="row">
      <div class="col-2 text-left padding-left-0">
        <button class="btn btn-dark margin-3" (click)="back()" [disabled]="conditions.clendarOpened || conditions.loading">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
      </div>
      <div class="col-8 text-center">
        <span class="text-white header-text-style">add exercise</span>
      </div>
      <div class="col-2 text-right header-rigth-column-style">
      </div>
    </div>
  </div>

  <app-alert [error]="error"></app-alert>
  <app-spinner [loading]="conditions.loading"></app-spinner>

  <div class="container element-width text-align-center-padding-0">
    <!-- body -->
    <div class="container exercise-body element-width margin-bottom-20"
         style="min-height:{{getBodyMinHeight()}}px;">

      <!-- date picker -->
      <div class="margin-top-4" *ngIf="conditions.initialized">
        <app-sprint-calendar [dayOffList]="daysOff"
                             [trainingDayList]="trainingDays"
                             [disabled]="conditions.loading"
                             (choosenDay)="onNewDate($event)"
                             (calendarOpened)="onCalendarOpen($event)">
        </app-sprint-calendar>
      </div>

      <!-- existing exercises -->
      <div *ngIf="conditions.initialized" class="container element-width margin-bottom-6">
        <div class="text-muted small margin-0" *ngFor="let exercise of chosenDayExercises">
          <div class="row">
            <div class="col-8 text-left">
              {{getExerciseName(exercise.getSid())}}
            </div>
            <div class="col-4 text-right">
              {{exercise.getTotalPoints()}}
            </div>
          </div>
        </div>
        <hr style="margin-top: 2px; margin-bottom: 2px;"/>
        <div class="text-muted small">
          <div class="row">
            <div class="col-12 text-right">
              {{totalPointsDay !== undefined ? totalPointsDay: ''}}
            </div>
          </div>
        </div>
      </div>

      <!-- available exercises -->
      <div class="btn-group margin-bottom-12" *ngIf="conditions.initialized && newExercises !== []" >
        <button class="btn dropdown-toggle dropdown-exercise-operate" type="button"
                data-toggle="dropdown"
                [disabled]="conditions.loading"
                aria-haspopup="true"
                aria-expanded="false">
          {{chosenExerciseMetadata.getName()}}
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item element-width" type="button"
                  (click)="choseExercise(ex)" *ngFor="let ex of newExercises">{{ex.getName()}}
          </button>
        </div>
      </div>

      <!-- reps list -->
      <app-exercise-reps *ngIf="conditions.initialized"
                         [exerciseMetadata]="chosenExerciseMetadata"
                         [loading]="conditions.loading"
                         (onExerciseChanged)="onExerciseChanged($event)">
      </app-exercise-reps>
    </div>
    <!-- footer -->
    <div class="container element-width text-align-center-padding-0">
      <button class="btn btn-success btn-exercise-operate" *ngIf="conditions.canSave" (click)="save()"
              [disabled]="conditions.loading">add
      </button>
    </div>
  </div>
</div>
