<div class="container-fluid" style="padding: 0px;">
  <!-- header -->
  <div class="badge-dark sticky-top container" align="center" style="max-width: 1010px">
    <div class="row">
      <div class="col-2 text-left" style="padding-left: 0px">
        <button class="btn btn-dark" style="margin: 3px" (click)="back()" *ngIf="!inEditMode">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="btn btn-dark" style="margin: 3px" (click)="cancel()" *ngIf="inEditMode">
          cancel
        </button>
      </div>
      <div class="col-8 text-center">
        <span class="text-white" *ngIf="!loading"
              style="display: inline-block; vertical-align: middle; margin: 8px;">{{getExName()}}
        </span>
      </div>
      <div class="col-2 text-right">
        <button class="btn btn-dark" style="margin: 3px;" *ngIf="inEditMode" (click)="delete()">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <app-alert [error]="error"></app-alert>

  <app-spinner [loading]="loading"></app-spinner>

  <!-- body -->
  <div *ngIf="!loading" class="container" align="center" style="max-width: 1010px; padding: 0px">

    <!-- progress bar -->
    <app-progress-bar [percent]="exercise.getProgress()" [striped]="true">
      {{exercise.getProgress()}} %
    </app-progress-bar>

    <!-- points -->
    <div class="row">
      <div class="col-4 text-center">
        raw
      </div>
      <div class="col-4 text-center">
        total
      </div>
      <div class="col-4 text-center">
        quota
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        {{exercise.getRawPoints()}} {{item}}
      </div>
      <div class="col-4 text-center">
        {{exercise.getTotalPoints()}}
      </div>
      <div class="col-4 text-center">
        {{exercise.getQuota()}} %
      </div>
    </div>

    <!-- reps -->
    <span>reps</span>
    <table class="table table-sm table-borderless" style="max-width: 1000px; margin-top: 20px; margin-left: 15px"
           align="center" *ngIf="!loading">
      <tbody>
      <tr *ngFor="let reps of exercise.getReps()">
        <td class="text-center">
          <div class="row">
            <div class="col-4 text-right" style="padding-right:0px">
              <input type="text" value="{{reps.getWeight()}}kg" disabled="{{!inEditMode}}"
                     style="width: 105px; border-radius: 0.4em; text-align: center; margin-top: 4px"
                     placeholder="weight">
            </div>
            <div class="col-1 text-center" style="padding: 0px">
              <p style="margin-top: 5px">X</p>
            </div>
            <div class="col-4 text-left" style="padding: 0px">
              <input type="text" value="{{reps.getReps()}}" disabled="{{!inEditMode}}"
                     style="width: 110px; border-radius: 0.4em; text-align: center; margin-top: 4px" placeholder="reps">
            </div>
            <div class="col-3 text-left" style="padding: 0px">
              <button class="btn btn-light" style="background-color: transparent" (click)="deleteReps(reps)"
                      *ngIf="inEditMode">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-light" style="background-color: transparent" (click)="addReps()" *ngIf="inEditMode">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>

  </div>

  <!-- footer -->
  <div align="center" style="max-width: 1010px; position: absolute; bottom: 12px; left: 50%; margin-left: -90px">
    <button class="btn btn-light" style="width: 180px; border-radius: 0.8em; border-color: dimgrey" (click)="edit()"
            *ngIf="!inEditMode">edit
    </button>
    <button class="btn btn-success" style="width: 180px; border-radius: 0.8em; border-color: dimgrey" (click)="save()"
            *ngIf="inEditMode">save
    </button>
  </div>
</div>
