<div class="container-fluid container-fluid-styling">
   <!-- header -->
  <div class="badge-dark container sticky-top max-width">
    <div class="row">
      <div class="col-2 text-left padding-left-0">
        <button class="btn btn-dark margin-3" (click)="back()" [disabled]="conditions.loading">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
      </div>
      <div class="col-8 text-center">
        <span class="text-white header-text-style" *ngIf="exerciseMetadata !== undefined">{{exerciseMetadata.getName()}}</span>
      </div>
      <div class="col-2 text-right header-rigth-column-style">
        <button class="btn btn-dark margin-3" (click)="delete()" [disabled]="conditions.loading"
                data-toggle="modal" data-target="#modalDialog">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <app-alert [error]="error"></app-alert>
  <app-spinner [loading]="conditions.loading"></app-spinner>

  <!-- progress bar -->
  <div class="container max-width text-align-center-padding-0">
    <app-progress-bar [percent]="statistic.getProgress()" [striped]="true" [disable]="conditions.loading" *ngIf="statistic !== undefined">
      <span [class]="conditions.loading ? 'text-disabled': 'text-enabled'">{{statistic.getProgress()}} %</span>
    </app-progress-bar>
  </div>

  <div class="container element-width text-align-center-padding-0">
    <!-- body -->
    <div class="container exercise-body element-width margin-bottom-20" *ngIf="conditions.initialized"
         style="min-height:{{getBodyMinHeight()}}px;">

      <!-- points -->
      <div class="row" [class]="conditions.loading ? 'text-disabled': 'text-enabled'">
        <div class="col-4 text-center">
          raw
        </div>
        <div class="col-4 text-center">
          points
        </div>
        <div class="col-4 text-center">
          quota
        </div>
      </div>
      <div class="row margin-bottom-40" [class]="conditions.loading ? 'text-disabled': 'text-enabled'"
           *ngIf="exercise !== undefined && exerciseMetadata !== undefined && statistic !== undefined">
        <div class="col-4 text-center" >
          {{exercise.getRawPoints()}} {{exerciseMetadata.getItem()}}
        </div>
        <div class="col-4 text-center">
          {{exercise.getTotalPoints()}}
        </div>
        <div class="col-4 text-center">
          <div class="container quota-style" [ngClass]="calcQuotaColor()">
            {{statistic.getQuota()}} %
          </div>
        </div>
      </div>

      <!-- reps list -->
      <app-exercise-reps *ngIf="conditions.initialized"
                         [exercise]="exercise"
                         [exerciseMetadata]="exerciseMetadata"
                         [loading]="conditions.loading"
                         (onExerciseChanged)="onExerciseChanged($event)">
      </app-exercise-reps>
    </div>
    <!-- footer -->
    <div class="container element-width text-align-center-padding-0">
      <button class="btn btn-success btn-exercise-operate" *ngIf="conditions.canSave" (click)="save()"
              [disabled]="conditions.loading">save
      </button>
    </div>
  </div>
</div>
