<div class="container-fluid" align="center" style="padding: 0">
  <!-- header -->
  <div class="badge-dark sticky-top container" align="center" style="max-width: 1010px;">
    <div class="row">
      <div class="col-2 text-left" style="padding-left: 0px">
        <button class="btn btn-dark" style="margin: 3px" (click)="back()" *ngIf="!inEditMode">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="btn btn-dark" style="margin: 3px" (click)="cancel()" *ngIf="inEditMode">
          cancel
        </button>
      </div>
      <div class="col-8 text-center">
        <span class="text-white" *ngIf="!loading"
              style="display: inline-block; vertical-align: middle; margin: 8px;">{{getExName()}}
        </span>
      </div>
      <div class="col-2 text-right" style="padding-left: 0px">
        <button class="btn btn-dark" style="margin: 3px;" *ngIf="inEditMode" (click)="delete()">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <app-alert [error]="error"></app-alert>

  <app-spinner [loading]="loading"></app-spinner>

  <!-- body -->
  <div *ngIf="!loading" class="container" align="center" style="max-width: 1010px; padding: 5px">

    <!-- progress bar -->
    <app-progress-bar [percent]="exercise.getProgress()" [striped]="true">
      {{exercise.getProgress()}} %
    </app-progress-bar>

    <!-- points -->
    <div class="row">
      <div class="col-4 text-center">
        raw
      </div>
      <div class="col-4 text-center">
        total
      </div>
      <div class="col-4 text-center">
        quota
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center">
        {{exercise.getRawPoints()}} {{item}}
      </div>
      <div class="col-4 text-center">
        {{exercise.getTotalPoints()}}
      </div>
      <div class="col-4 text-center">
        {{exercise.getQuota()}} %
      </div>
    </div>

    <!-- reps -->
    <div class="row" style="padding-top: 40px" *ngIf="exercise.getReps().length>0">
      <div class="col-4">
        <h6>Reps</h6>
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
    </div>

    <table class="table table-sm table-borderless" style="max-width: 600px;" align="center" *ngIf="exercise.getReps().length>0">
      <tbody>
      <tr *ngFor="let reps of exercise.getReps()">
        <td class="text-center" style="padding-top: 0; padding-bottom: 0px">
          <div class="row" style="height: 45px">
            <div class="col-1" style="padding-left: 10px; padding-right: 0px">
            </div>
            <div class="col-4 text-center" style="padding: 0px;">
              <input type="text" value="{{reps.getWeight()}}kg"
                     style="text-align: center; margin-top: 6px; height: 35px; max-width: 100px; border-radius: 0.3em; border-width: 1px; border-color: dimgrey"
                     placeholder="weight">
            </div>
            <div class="col-1 text-center" style="padding: 0px">
              <p style="margin-top: 10px">X</p>
            </div>
            <div class="col-4 text-center" style="padding: 0px">
              <input type="text" value="{{reps.getReps()}}"
                     style="text-align: center; margin-top: 6px; height: 35px; max-width: 100px; border-radius: 0.3em; border-width: 1px; border-color: dimgrey">
            </div>
            <div class="col-2 text-left" style="padding-right: 10px; padding-left: 0px">
              <button class="btn btn-light" style="background-color: transparent; margin-top: 4px" (click)="deleteReps(reps)"
                      *ngIf="inEditMode">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-12 text-right">
        <button class="btn btn-light" style="background-color: transparent" (click)="addReps()" *ngIf="inEditMode">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>

  </div>

  <!-- footer -->
  <div align="center" style="max-width: 1010px; position: absolute; bottom: 12px; left: 50%; margin-left: -90px">
    <button class="btn btn-light" style="width: 180px; border-radius: 0.8em; border-color: dimgrey" (click)="edit()"
            *ngIf="!inEditMode">edit
    </button>
    <button class="btn btn-success" style="width: 180px; border-radius: 0.8em; border-color: dimgrey" (click)="save()"
            *ngIf="inEditMode">save
    </button>
  </div>
</div>
