<div class="container-fluid">
  <!-- kandidat för header -->
  <div class="row badge-dark">
    <div class="col-sm-2">
      <button class="btn btn-dark">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>
    </div>
    <div class="col-sm-8 text-center">
      <span class="text-white text-center" style="display: inline-block; vertical-align: middle;">sprint</span>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-dark" (click)="addExercise()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>

  <!-- body -->
  <div>
    <table>
      <tr>
        <th></th>
      </tr>
      <tr>
        <div *ngFor="let day of sprintExercises">
          <td>{{day.getSprintDay() | date}}</td>
          <table>
            <tr>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <div *ngFor="let exercise of day.getExercises()">
                <div>
                  <td>{{exercise.getName}} {{exercise.getRawPoints}} {{exercise.getTotalPoints}}</td>
                  <td>
                    <button type=""> ></button>
                  </td>
                </div>
              </div>
            </tr>
          </table>
        </div>
      </tr>
    </table>
  </div>
</div>
