<div class="container-fluid" style="padding: 0px">
  <!-- kandidat för header -->
  <div class="badge-dark sticky-top">
    <div class="container" align="center" style="max-width: 1010px">
      <div class="row">
        <div class="col-2 text-left" style="padding-left: 0px">
          <button class="btn btn-dark" style="margin: 3px" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
          </button>
        </div>
        <div class="col-8 text-center">
          <span class="text-white"
                style="display: inline-block; vertical-align: middle; margin: 8px;">sprint
          </span>
        </div>
        <div class="col-2 text-right">
          <button class="btn btn-dark" style="margin: 3px;" (click)="addExercise()">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div -->

  <app-alert [error]="error"></app-alert>

  <!-- body -->
  <table class="table table-sm" style="max-width: 1000px;" align="center">
    <tbody>
    <tr *ngFor="let sprintExercise of sprintExercises">
      <td class="text-center" style="padding: 0px">
        <div class="container" style="background-color: #e9ecef; padding: 0px; margin: 0px">
          {{sprintExercise.getSprintDate().getSprintDate() | date}}
        </div>
        <table class="table table-sm" style="margin: 0px;">
          <tr *ngFor="let exercise of sprintExercise.getExercises()">
            <td>
              <div class="row" style="padding: 6px;">
                <div class="col-2 text-left" style="max-width: 100px; min-width: 100px;">
                  {{exercise.getName()}}
                </div>
                <div class="col-2 text-left" style="max-width: 100px;">
                  {{exercise.getRawPoints()}}
                </div>
                <div class="col-2 text-left">
                  {{exercise.getTotalPoints()}}
                </div>
                <div class="col-6">
                </div>
              </div>
            </td>
            <td style="text-align: right;">
              <button class="btn btn-link" style="color: #adb5bd" (click)="openExercise()">
                <fa-icon [icon]="faChevronRight"></fa-icon>
              </button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>

</div>
